.category {
    background-color: #bc4639;
    border-radius: 5px;
    max-width: 500px;
    margin: 10px 10px 0 0;
    padding: 7px;
    color: #f3e0dc;
    font-weight: bold;
}


/* Responsiveness */
@media only screen and (max-width: 800px) {
    .category {max-width: 300px;}
}