.general-container {
    display: flex;
    justify-content: space-between;

    width: 80%;
    max-width: 800px;
    padding: 20px;

    border-bottom: 1px solid #d4a59a;
}

.link {
    text-decoration: none;
    color: inherit;
}


/* info container */
.info-container {display: flex;}

.image {
    max-width: 150px;
    max-height: 225px;
    margin-right: 15px;
}

.author-container {display: flex;}
.author {margin: 5px 10px 0 0;}


/* icons container */
.icons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.heart-icon {margin: 5px; font-size: 1.8em;}
.heart-icon:hover {cursor: pointer;}

.delete-icon {color:#5c2018; font-size: 2.5em;}
.delete-icon:hover {cursor: pointer;}


/* Responsiveness */
@media only screen and (max-width: 800px) {
    .general-container {width: 300px;}
    .image {
        max-width: 75px;
        max-height: 112.5px;
    }
    .author-container {flex-direction: column;}
    .heart-icon {font-size: 1em;}
    .delete-icon {font-size: 1.4em;}
}